{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block titulo %}Sobre a nossa Empresa{% endblock %}

{% block conteudo %}
<div class="card">
    <div class="card-header">
        <h5>Bem-vindo à nossa página!</h5>
    </div>
    <div class="card-body">
        <p>
            Somos uma empresa dedicada a oferecer soluções inovadoras. Nosso objetivo é garantir a satisfação dos nossos clientes, com serviços eficientes e de alta qualidade.
        </p>
        <p>
            Nossa missão é proporcionar experiências únicas e ajudar nossos clientes a alcançar seus objetivos através de nossa expertise.
        </p>
    </div>
</div>
{% endblock %}
