{% extends 'base.html' %}

{% block title %} Produtos {% endblock %}
{% block titulo %} Listagem de produtos {% endblock %}
{% block conteudo %}

<!-- Botão para acessar o formulário -->
<button class="btn btn-primary" onclick="location.href='{% url 'fomulario2' %}'">Adicionar Produto</button>

<table class="table table-bordered table-hover w-75 mx-auto">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor (R$)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Notebook</td>
            <td>2.500,00</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Monitor</td>
            <td>500,00</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Roteador Wi-Fi</td>
            <td>150,00</td>
        </tr>
    </tbody>
</table>

{% endblock %}
