{% extends 'base.html' %}

{% block title %} Produtos {% endblock %}
{% block titulo %} Listagem de produtos {% endblock %}
{% block conteudo %}

<!-- Botão para acessar o formulário -->
<button class="btn btn-primary" onclick="location.href='{% url 'fomulario2' %}'">Adicionar Produto</button>

<table class="table table-bordered table-hover mt-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor (R$)</th>
            <th scope="col">Ações</th> 
        </tr>
    </thead>
    <tbody>
        {% for produto in lista %}
        <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.preco }}</td>
            <td>
                <form method="POST" action="{% url 'excluir_produto' produto.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">Nenhum produto encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
